/Library
/Logs
/obj
/Build
/Temp
/Assets/Plugins/HuaTuo/Temp.meta
/Assets/Plugins/HuaTuo/Output.meta
Assets/Plugins/HuaTuo/Output
Assets/Plugins/HuaTuo/Temp
/copydll.bat
/Debug
/.idea/
/Assets/StreamingAssets/HotFix.dll
*.csproj
*.sln
/.vs
/update_unity_libil2cpp.bat
*.log
*.user
UserSettings
Assets/Base/.idea
Assets/HotfixMono/.idea
ProjectSettings/RiderScriptEditorPersistedState.asset
.vsconfig
